.filter-products {
  display: none;
}
@media (min-width: 1024px) {
  .filter-products {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 70px;
  }
  .filter-products-container {
    position: sticky;
    top: 10px;
  }
  .filter-products-scroll {
    overflow-y: scroll;
    height: 90vh;
  }
  .filter-products-scroll::-webkit-scrollbar{
    display: none;
  }
  .filter-products h2 {
    font-size: 26px;
    font-weight: 700;
  }
  .filter-products hr {
    width: 100%;
    height: 2px;
    background: #000000;
    border: none;
  }
  .filter-products {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 70px;
  }
  .filter-products-item-link {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
  }
}
