.about {
  position: relative;
  top: 50px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  max-width: 1000px;
  color: #000000;
}
.about h2 {
  font-size: 16px;
  font-weight: 600;
}
.about p {
  font-size: 12px;
  font-weight: 400;
}
.about h3 {
  font-size: 14px;
  font-weight: 600;
}
@media (min-width: 768px) {
  .about {
    top: 70px;
    padding: 15px;
    gap: 15px;
  }
  .about h2 {
    font-size: 22px;
  }
  .about p {
    font-size: 16px;
  }
  .about h3 {
    font-size: 20px;
  }
}
@media (min-width: 1024px) {
  .about {
    top: 60px;
  }
  .about h2 {
    font-size: 30px;
  }
  .about p {
    font-size: 22px;
  }
  .about h3 {
    font-size: 26px;
  }
}