.home {
  position: relative;
  top: 30px;
}
@media (min-width: 768px) {
  .home {
    position: relative;
    top: 70px;
  }
}
@media (min-width: 1024px) {
  .home {
    position: relative;
    top: 60px;
  }
}