.search {
  position: fixed;
  top: 60px;
  z-index: 1;
  width: 100%;
  padding: 0 10px;
  max-width: 500px;
}
.search-display {
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.search-display p {
  font-size: 16px;
  font-weight: 500;
  padding: 6px 0;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.search-container img {
  width: 20px;
}
.search-container button,
.search-container a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 24px;
  border: 1px solid #000000;
  border-radius: 2px;
  font-size: 16px;
  background: none;
}
.search-input-btn {
  height: 26px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  background: #d9d9d9;
  padding: 5px;
  border-radius: 2px;
  gap: 4px;
}
.search-input-btn input {
  font-size: 16px;
  color: #4d4d4d;
  border: none;
  background: none;
  outline: none;
  width: 100%;
}
.search-input-btn a {
  padding: 0;
  border: none;
  background: none;
  width: 20px;
}
.search-category-container {
  position: relative;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  gap: 6px;
  scroll-snap-type: x mandatory;
  scroll-snap-stop: always;
}
.search-category-container::-webkit-scrollbar {
  display: none;
}
.search-display .search-category-container {
  display: flex;
  align-items: center;
  gap: 6px;
}
.search-display .search-category {
  position: relative;
  display: flex;
  align-items: center;
  width: 40vw;
  max-width: 180px;
}
.search-display .search-category .gradient {
  border-radius: 4px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ffffff00, #00000000, #000000);
}
.search-display .search-category img {
  width: 40vw;
  max-width: 180px;
  border-radius: 4px;
}
.search-display .search-category p {
  padding: 0;
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 12px;
  color: #ffffff;
}

@media (min-width: 768px) {
  .search {
    top: 85px;
    padding: 0 15px;
    max-width: 900px;
  }
  .search-display {
    padding: 10px;
  }
  .search-display p {
    font-size: 22px;
    padding: 10px 0;
  }
  .search-container {
    gap: 10px;
  }
  .search-container img {
    width: 26px;
  }
  .search-container button {
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 4px;
  }
  .search-input-btn {
    height: 40px;
    padding: 8px;
    gap: 10px;
  }
  .search-input-btn input {
    font-size: 24px;
  }
  .search-input-btn a {
    width: 26px;
  }
  .search-display .search-category-container {
    gap: 14px;
  }
  .search-display .search-category {
    width: 40vw;
    max-width: 210px;
  }
  .search-display .search-category img {
    width: 40vw;
    max-width: 210px;
  }
  .search-display .search-category p {
    bottom: 10px;
    left: 10px;
    font-size: 16px;
  }
}
@media (min-width: 1024px) {
  .search {
    top: 75px;
  }
  .search-display {
    padding: 15px 25px;
  }
  .search-display p {
    font-size: 26px;
    padding: 15px 0;
  }
  .search-container {
    gap: 25px;
  }
  .search-container img {
    width: 32px;
  }
  .search-container button {
    width: 140px;
    height: 38px;
    font-size: 26px;
  }
  .search-container button:hover {
    background: #dcdcdc;
  }
  .search-input-btn {
    height: 44px;
    padding: 12px;
    gap: 10px;
  }
  .search-input-btn input {
    font-size: 26px;
    font-weight: 500;
  }
  .search-input-btn a {
    width: 32px;
  }
  .search-display .search-category-container {
    gap: 15px;
  }
  .search-display .search-category {
    max-width: 180px;
  }
  .search-display .search-category img {
    max-width: 180px;
  }
  .search-display .search-category p {
    bottom: 5;
    left: 15px;
    font-size: 12px;
  }
}
