/* /////////////////////// 
 -------Resset code-------- 
 /////////////////////// */

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

*,
*:before,
:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ul {
  list-style: none;
}

/* /////////////////////// 
 -------    Root   -------- 
 /////////////////////// */

:root {
  --black: #000000;
  --white: #ffffff;
}
body::-webkit-scrollbar {
  display: none;
}
.loading-page {
  position: fixed;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  z-index: 9999;
  top: 0;
  left: 0;
  animation: Enter 1s ease-in-out;
  animation-fill-mode: forwards;
  background-image: url(https://bike-images.andrew-code.com/Bike%20Image/logo/f0d600aa-7f19-4aed-bf2b-d9c35d16cbc2.png);
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 750px) {
  .loading-page {
    background-size: contain;
  }
}
@keyframes Enter {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
    display: none;
  }
}
